<div>
    <h1 fxLayoutAlign="center">Listado de Ejercicios</h1>
    <mat-divider></mat-divider>

    <h2 fxLayoutAlign="center">Selecciona un grupo muscular</h2>
    <mat-divider></mat-divider>
</div>

<div fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="15px">

    <div fxFlex="18"
        fxFlex.lg="15"
        fxFlex.sm="30"
        *ngFor="let musculo of musculos">

        <app-tarjeta [musculo]="musculo"></app-tarjeta>
    </div>
</div>
<button mat-button [routerLink]="['/gymApp/ejercicios/addEjercicio']">Añadir</button>
