<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Usuarios
        </mat-panel-title>
        <mat-panel-description>
          Registro de todos los usuarios
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <app-tabla></app-tabla>
   
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ejercicios
        </mat-panel-title>
        <mat-panel-description>
          Listado de todos los ejercicios
          <mat-icon>fitness_center</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Logs
        </mat-panel-title>
        <mat-panel-description>
          Logs de los usuarios
          <mat-icon>view_list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  

  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>
  