<div>
    <h1 fxLayoutAlign="center">Listado de Ejercicios de {{musculo.musculo| titlecase}}</h1>

    <div fxLayoutAlign="center">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" [routerLink]="['/gymApp/home/']">Home</mat-button-toggle>
        <mat-button-toggle value="italic" [routerLink]="['/gymApp/ejercicios/listado/']">Ejercicios</mat-button-toggle>
        <mat-button-toggle value="italic" checked="">{{musculo.musculo| titlecase}}</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>
    <mat-divider></mat-divider>
</div>

<app-lista-ejercicios [musculo]="musculo" *ngIf="musculo"></app-lista-ejercicios>


