<!-- <mat-list role="list">
    <mat-list-item role="listitem"  *ngFor="let ejercicio of ejercicios" >{{ejercicio.nombre_ejercicio}}</mat-list-item>
</mat-list> -->

<div fxLayout="row" fxLayoutGap="50px" id="contenido">
    <mat-selection-list #rutinaLista [multiple]="false">
        <mat-list-option *ngFor="let rutina of rutinas" [value]="rutina">
            {{rutina.nombre_rutina}}
        </mat-list-option>
    </mat-selection-list>

    

    <div *ngIf="rutinaLista.selectedOptions.selected[0]" fxLayout="column" id="frame">
        <mat-card class="example-card">
            <mat-card-subtitle>Programas</mat-card-subtitle>
            <mat-card-title>{{rutinaLista.selectedOptions.selected[0]?.value.nombre_rutina}}</mat-card-title>
            <mat-divider inset></mat-divider>
            <br>
            <mat-card-content *ngIf='rutinaLista.selectedOptions.selected[0].value.ID_rutina === 1'>
                <p *ngFor="let datos of rutinaFuerza">{{datos}}</p>
            </mat-card-content>
            <mat-card-content *ngIf='rutinaLista.selectedOptions.selected[0].value.ID_rutina === 2'>
                <p *ngFor="let datos of rutina2">{{datos}}</p>
            </mat-card-content>
            <mat-card-content *ngIf='rutinaLista.selectedOptions.selected[0].value.ID_rutina === 3'>
                <p *ngFor="let datos of rutina3">{{datos}}</p>
            </mat-card-content>
            <mat-card-content *ngIf='rutinaLista.selectedOptions.selected[0].value.ID_rutina === 4'>
                <p *ngFor="let datos of rutina4">{{datos}}</p>
            </mat-card-content>
            <mat-card-content *ngIf='rutinaLista.selectedOptions.selected[0].value.ID_rutina === 5'>
                <p *ngFor="let datos of rutina5">{{datos}}</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
         
            
          </mat-card>
    </div>
</div>
