mat-list-option{
   
}
#contenido{
    width: 100%;
}

#frame{
    width: 75%;
    margin-right: 40px;
}

iframe {
    padding: 15px;
    height: 600px;
    width: 98%;
}

mat-selection-list{
    width: 25%;
}

