
<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./home"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a routerLink="./listado"
                mat-list-item
                disabled="true"
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>create</mat-icon>
                <span>Seguimiento</span>
            </a>
            <a routerLink="./listado"
                mat-list-item
                disabled="true"
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>file_copy</mat-icon>
                <span>Histórico</span>
            </a>
            <a routerLink="./programas"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>library_books</mat-icon>
                <span>Programas</span>
            </a>
            

            <a routerLink="./ejercicios/listado"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>fitness_center</mat-icon>
                <span>Ejercicios</span>
            </a>

            <a routerLink="./ejercicios/addEjercicio"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Agregar Ejercicio</span>
            </a>

            <mat-divider></mat-divider>
            <a routerLink="./admin"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>https</mat-icon>
                <span>ADMIN</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle() ">
            <mat-icon>menu</mat-icon>
        </button>
        <span>&nbsp; &nbsp; &nbsp;</span>
        <span>{{hora}}</span>
        <span class="spacer"></span>

        <span>Bienvenido {{usuario | titlecase}}</span>
        <span>&nbsp; &nbsp; &nbsp;</span>
        <button mat-button
        (click)="logOut()"
                >
            LogOut
        </button>
    </mat-toolbar>
    

    <div class="container">
        <router-outlet></router-outlet>
    </div>
    
</mat-sidenav-container>