<mat-card>
    <mat-card-header>
        <mat-card-title>{{musculo.musculo | titlecase}}</mat-card-title>
        <!-- <mat-card-subtitle>heroe.alter_ego</mat-card-subtitle> -->
    </mat-card-header>

    <img mat-card-image src="assets/muscles/{{musculo}}.png">

    <mat-card-actions>
        <button mat-button 
                color="warn"
                [routerLink]="['/gymApp/ejercicios/', musculo]"
                >
            Mostrar ejercicios
        </button>
    </mat-card-actions>
</mat-card>